.TagFilterContainer{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-around;
}
.TagFilter__options{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.TagFilter__config{
    margin-top: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.TagFilter__config--show{
    display: flex;
}