.TagItemManagerContainer{
    display: flex;
    flex-direction: column;
}

.TagItemManager__head{
    display: flex;
    justify-content: space-between;
}
.TagItemManager__listTags{
    display: flex; 
}