.ItemContainer{
    position: relative;
    padding: 25px;
    box-shadow: 0px 0px 3px 1px rgba(var(--boxShadow),0.7) ;
    cursor: pointer;
}
.ItemContainer:hover{
    box-shadow: 0px 0px 5px 1px rgba(var(--boxShadowHover),0.7) ;
}
.Item__text{
    resize: none;
    width: 223px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
}
.Item__text:focus{
    outline: none;
}
.Item__tagContainer{
    display: flex;
    justify-content: space-between;
}
