:root{
    --white: 255,255,255;
    --blue: 23,123,145;
    --standarGray: 45,45,45;
    --standarGray: 45,45,45;
    --boxShadow: 33,33,33;

    /* Tag Variables*/
    --defaultTagBorder: 33,33,33;
}