:root{
    --white: 255,255,255;
    --blue: 23,123,145;
    --standarGray: 45,45,45;
    --standarGray: 45,45,45;
    --boxShadow: 33,33,33;
    --boxShadowHover: 33,58,123;

    /* Tag Variables*/
    --defaultTagBorder: 33,33,33;
    /* Notes Variables*/
    --borderBox: 0,0,0;
    /* Modals Variables*/
    --modalContainerBackground: 33,33,33;
    --modalWrapperBackground: 255,255,255;
}